<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Dashboard
    <small>Diligence Portal</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-sm-4" style="display: inline-flex;">
      <input placeholder="Date" type="text"  ngxDaterangepickerMd
      [formControl]="logDate"
      
      id="Data" class="form-control margin-r-5" [singleDatePicker]="true"
      [autoApply]="true" />
      <button (click)="downloadExcel()" class="btn btn-success">ExportTOExcel</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header with-border">
          <h4> Username: {{packet?.user_id}} | Gateway ID : {{packet?.gateway_id}} | Last Updated : {{date |
            date:'dd-MM-yyyy hh:mm:ss a':'+0530'}}</h4>
        </div>
        <div class="">

          <div class="row">
            <div class="col-sm-12 card">

            </div>
            <div class="col-sm-12">
              &nbsp;&nbsp;<h3 class="box-title text-center">Devices Health</h3>
              <ngx-charts-number-card [view]="[1200,250]" [scheme]="colorScheme" [results]="single"
                [cardColor]="cardColor" (select)="onSelect($event)">
              </ngx-charts-number-card>
            </div>
            <div class="col-sm-12">
              <ngx-charts-number-card [view]="[1200,250]" [scheme]="colorScheme" [results]="singleNew"
                [cardColor]="cardColor" (select)="onSelect($event)">
              </ngx-charts-number-card>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12">
              &nbsp;&nbsp;<h3 class="box-title">Device Status</h3>
              <div class="col-sm-4" style="display: inline-flex;">
                <input placeholder="Date" type="text"  ngxDaterangepickerMd
                [formControl]="historyDate"
                
                id="Data" class="form-control margin-r-5" [singleDatePicker]="true"
                [autoApply]="true" />
                <button (click)="getHistory()" class="btn btn-success">History</button>
              </div>
              <ngx-charts-line-chart [view]="[1200,400]" [scheme]="colorScheme" [results]="multi" [gradient]="gradient"
                [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [autoScale]="autoScale"
                [animations]="false">
              </ngx-charts-line-chart>
            </div>
          </div>
          <br>
          

          <div class="row">
            &nbsp; &nbsp;<h3 class="text-center">Electrical Supply Status</h3>
            <div class="col-sm-4">
              <figure class="highcharts-figure">
                <div id="r-phase"></div>
              </figure>
            </div>

            <div class="col-sm-4">
              <figure class="highcharts-figure">
                <div id="y-phase"></div>
              </figure>
            </div>
            <div class="col-sm-4">
              <figure class="highcharts-figure">
                <div id="b-phase"></div>
              </figure>
            </div>
            
          </div>


          <div class="row">
            &nbsp;&nbsp;<h3 class="text-center">Environmental Status</h3>
            <div class="col-sm-6">
              <figure class="highcharts-figure">
                <div id="temperature-new"></div>
              </figure>
            </div>

            <div class="col-sm-6">
              &nbsp;&nbsp;<h3 class="box-title text-center">Temperature</h3>
              <ngx-charts-line-chart [view]="[600,300]" [scheme]="colorScheme" [results]="multiTemp"
                [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel" [autoScale]="autoScale" [animations]="false" (select)="onSelect($event)">
              </ngx-charts-line-chart>
            </div>
          </div>



          <div class="row">
            <div class="col-sm-6">
              <figure class="highcharts-figure">
                <div id="humidity-new"></div>
              </figure>
            </div>

            <div class="col-sm-6">
              <figure class="highcharts-figure">
                &nbsp;&nbsp;<h3 class="box-title text-center"> Humidity</h3>
                <ngx-charts-line-chart [view]="[600,300]" [scheme]="colorScheme" [results]="multiHum"
                  [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                  [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                  [autoScale]="autoScale" [animations]="false">
                </ngx-charts-line-chart>
              </figure>

            </div>
          </div>
         

        </div>

      </div>
    </div>
  </div>
  <div class="col-lg-12 table-responsive" #TABLE #table [hidden]="true">
    <div style="padding-bottom: 10px;padding-top: 10px;">
      <div class="row">
        <div class="col-sm-12">
          <button (click)="downloadExcel()" class="btn btn-success">ExportTOExcel</button>
        </div>
      </div>
    </div>
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
           <th>Date </th>
          <th>Time </th>
          <th>Packet ID</th>
          <th>User ID</th>
          <th>Gateway ID</th>
          <th>Device Short Address</th>
          <th>Device firmware version</th>
          <th>Device Data type</th>
          <th>Device battery</th>
          <th>Device temperature</th>
          <th>Device faults</th>
          <th>R Phase current</th>
          <th>Y Phase current</th>
          <th>B Phase current</th>
          <th>Device On time</th>
          <th>Device Off time</th>
          <th>Fabric Length</th>
          <th>Temperature</th>
          <th>Humidity</th>
          <th>Device Status </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tm of excelData">
          <td>{{historyDate?.value?.startDate?.format("YYYY-MM-DD")}}</td>
          <td>{{unixToDate(tm?.epoach)}}</td>
          <td>{{tm?.packet_id}}</td>
          <td>{{tm?.user_id}}</td>
          <td>{{tm?.gateway_id}}</td>
          <td>{{tm?.device_id}}</td>
          <td>{{tm?.fm_version}}</td>
          <td>{{tm?.data_type}}</td>
          <td>{{tm?.bat_level}}</td>
          <td>{{tm?.device_temp}}</td>
          <td>{{tm?.fault}}</td>
          <td>{{tm?.data?.data1}}</td>
          <td>{{tm?.data?.data2}}</td>
          <td>{{tm?.data?.data3}}</td>
          <td>{{tm?.data?.data4}}</td>
          <td>{{tm?.data?.data5}}</td>
          <td>{{tm?.data?.data6}}</td>
          <td>{{tm?.data?.data7}}</td>
          <td>{{tm?.data?.data8}}</td>
          <td>{{tm?.data?.data9 == 1 ?'ON':'OFF'}}</td>

        </tr>
      </tbody>
    </table>
  </div>
</section>