<div class="wrapper" *ngIf='isLogin'>
  
  <header class="main-header">


    <a href="index2.html" class="logo">
      <span class="logo-mini"><b>B</b></span>
      <span class="logo-lg"><b></b>Admin</span>
    </a>

    <nav class="navbar navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="../assets/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">Admin</span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <img src="../assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                <p>
                  Admin
                </p>
              </li>
              <li class="user-footer">
                <!-- <div class="pull-left">
                  <a routerLink='/update-profile' class="btn btn-default btn-flat">Profile</a>
                </div> -->
                <div class="pull-right">
                  <a (click)="logout()" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar">

    <section class="sidebar">

      <div class="user-panel">
        <div class="pull-left image">
          <img src="../assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Admin</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>

      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </form>

      <ul class="sidebar-menu">
        <li class="header">HEADER</li>
        <li class="active"><a routerLink='/dashboard'><i class="fa fa-link"></i> <span>Dashboard</span></a></li>
      </ul>
    </section>
  </aside>

  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
<div *ngIf='!isLogin'>
  <router-outlet></router-outlet>
</div>
<div id="loader"></div>