<div class="login-box" *ngIf="showComponent">
    <div class="login-logo">
      <a><b>Diligence vendor </b>Portal</a>
      <img src="../../../assets/dist/img/data.jpeg"  style="width: 100%;"/>
    </div>
    <div class="login-box-body" >
      <p class="login-box-msg">Sign in to start your session</p>
      <form [formGroup]="loginFormGroup">
        <div class="form-group has-feedback">
          <input formControlName="mobileNumber"  type="email" class="form-control" placeholder="Mobile Number">
          <span class="error" id="exampleInputEmail1-error" *ngIf="loginFormGroup.controls.mobileNumber.errors" class="error error-input">{{loginFormGroup.controls.mobileNumber["errorMessage"]}}</span>
        </div>
        <div class="form-group has-feedback">
          <input formControlName="otp" type="password" class="form-control" placeholder="Code">
          <span class="error" id="exampleInputEmail1-error" *ngIf="loginFormGroup.controls.otp.errors" class="error error-input">{{loginFormGroup.controls.otp["errorMessage"]}}</span>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <button type="button" (click)='login()' class="btn btn-primary btn-block btn-flat">Sign In</button>
          </div>
        </div>
      </form>
    </div>
  </div>